/* Import the Bootstrap Icons CSS stylesheets */
@import "~bootstrap-icons/font/bootstrap-icons.css";

@mixin iconparent() {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  &:hover {
    background-color: #f0f2f5;
    border-radius: 8px;
  }
}
@mixin iconRound() {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@mixin card() {
  color: #202020;
  border: none;
  border-radius: 7px;
}
.headerPage .myNavbar,
.offcanvas-body {
  height: auto;
  background-color: #ffffff;
  align-items: center;
  // display: flex;
  // justify-content: space-between;
  &:not(.offcanvas-body) {
    width: 100vw;
  }
  .navItem {
    display: flex;
    align-items: center;
    height: inherit;
  }

  .navItem-iconParent {
    @include iconparent();
    width: inherit;
  }

  .topIcon {
    cursor: pointer;
    margin: 13px 12px;
  }
  .lIcon {
    background: linear-gradient(to top, #6ce8e0, #8f9296);
    @include iconRound();
  }
  .picIcon {
    border-radius: 50px;
    position: relative;
  }
  .icon {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px 2.5px;
    background-color: #f0f2f5;

    &.pro {
      width: inherit;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &:not(&.pro) {
      img {
        top: 7px;
        left: 13px;
      }
    }
  }
  .myInput {
    height: 40px;
    border-radius: 50px;
    background-color: #f0f2f5;
    border: none;
    width: 280px;
    // @media (min-width: 800px) {
    //   width: 280px;
    // }
    margin: 0px 10px;
    &:focus-visible {
      border: 1px solid #00000091;
    }
  }
}

.row {
  margin: 0px !important;
}

.profile-sideBar {
  .card {
    @include card();
    hr {
      color: #f0f2f5 !important;
      opacity: 1;
      border: 2;
      margin: 0px;
    }
    .item {
      height: inherit;
      padding: 6px 5px;
      align-items: center;
      &:hover {
        background-color: #f0f2f5;
        border-radius: 8px;
      }
    }
  }
}

.mainSection {
  justify-content: space-evenly;
  .myInput {
    height: 40px;
    border-radius: 50px;
    background-color: #f0f2f5;
    border: none;
    margin: 0px;
    &:focus-visible {
      border: 1px solid #00000091;
    }
  }
  .person-card {
    padding: 10px 0px;
    justify-content: center;
    &:hover {
      background-color: #f0f2f5;
      border-radius: 8px;
    }
  }
}

.chart {
  .card {
    @include card();
    background-color: #ffffff !important;
  }
  .predicts {
    @include card();
    background-color: #ffffff;
    .iconParent {
      @include iconparent();
      width: 50%;
    }
    hr {
      margin: 0px;
    }
    .predict-card {
      &:hover {
        background-color: #e4e6eb;
        border-radius: 8px;
      }
    }
  }
  .message {
    .icon {
      @include iconRound();
    }
  }
}
